$CardRed: #D95F4A;
$CardGreen: #64C270;
$CardBlue: #489AD8;
$CardPurple: #9068B4;
$CardYellow: #EDC233;
$CardOrange: #EA9F33;
$CardOlive: #55B599;
$CardGrey: #818A8E;
$CardBrown: #6D4C41;
$CardNavy: #546E7A;
$CardTurquese: #00ACC1;
$BarBackground: #3B446B;
$Red: #EC515F;
$Blue: #4D9ACF;
$Yellow: #FDC23F;
$Grey: #505050;