@import './colors.scss';
@import './responsive.scss';

* {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #C5c5c5;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #B5b5b5;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border: 0px none #f0f0f0;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-track:hover {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-track:active {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/nunito-sans-v4-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
    url('../assets/fonts/nunito-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/fonts/nunito-sans-v4-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/nunito-sans-v4-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/fonts/nunito-sans-v4-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/fonts/nunito-sans-v4-latin-regular.svg#NunitoSans') format('svg');
  /* Legacy iOS */
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    p {
        margin-left: 8px;
        margin-top: 16px;
    }
    img {
      height: 32px;
      border-radius: 50%;
    }
}

.ps {
  font-family: "Nunito", sans-serif
}

.inline {
  margin: 0;
  padding: 0 2px 0 2px;
  p {
    margin-top: 16px;
  }
  img {
    height: 32px;
    border-radius: 50%; 
  }
}

.item:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */

    -webkit-user-select: none;
    /* Safari */

    -khtml-user-select: none;
    /* Konqueror HTML */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* Internet Explorer/Edge */

    user-select: none;
}